
{% extends 'layouts/app.html' %}
{% load static %}

{% block title %}
Study Link - Школа английского языка 
{% endblock %}
{% block 'content' %}
<main class="main">
    <div class="hero-block section__about-us">
        <div class="container">
            <div class="hero-block__row">
                <div class="hero-block__text">
                    <div class="hero-block__texts__row hero-block__texts__row-extra ">
                    
                        <h1 class="hero-block__main-title-extra">Слабо говоришь на английском ?</h1>
                        <div><img class="extra-img" src="{% static 'img/icons/nice-to-meet-you.webp' %}" alt=""></div>
                        <h1 class="hero-block__main-title-extra"> Тогда записывайтесь прямо сейчас</h1>
                     
                    </div>
                    <div class="hero-block__texts__row">
                            <h1 class="hero-block__main-title _anim-items">Слабо говоришь на английском</h1>
                            <h1 class="hero-block__main-title _anim-items">Тогда записывайтесь прямо сейчас</h1>
                    </div>
                    
                    <article class="hero-block__box   blue-background">
                        <form action="{% url 'addLead' %}" method="post" >
                            {% csrf_token %}
                            <input class='form-input form-style-2' type="text" value="+7" name="numberPhone" id="phone-mask-99">
                            <input class='form-input form-style-2' type="text" name="fullName" placeholder="Полное имя">
                            <input type="hidden" name="description" value="9 990 тенге - Заявка на скидку">
                            <button class="btn">Отправить заявку</button>
                        </form>
                       
                    </article>
                    <!-- <div class="hero-block__boxes _anim-items">
                        <article class="hero-block__box   blue-background">
                            <h3 class="hero-block-title">
                                Каждый день,
                                <span>English Club</span>
                            </h3>
                            <button class="hero-block-btn "><a class="_goto-links " data-goto=".section__gallery" href="#">Посмотреть</a></button>
                        </article>
                        <article class="hero-block__box">
                            <h3 class="hero-block-title">
                                Вводный урок
                                <span>Бесплатно!</span>
                            </h3>
                            <button class="hero-block-btn "><a class="_goto-links " data-goto=".section__registration" href="#">Посмотреть</a></button>
                        </article>
                    </div> -->
                </div>
                <div class="hero-block__img _anim-items">
                    
                    <img src="{% static 'img/icons/nice-to-meet-you.webp' %}" alt="">
                </div>
                
                    
            </div>
        </div>
    </div>  

    <div class="slideWithActive">
        <div class="container">
            <div class="slideWithActive__row">
                <div class="slideWithActive__title main-title">
                    Почему нас выбирает ?
                </div>
                <div class=" slide-effects swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide swiper-slide-effect">
                        <div class="slideWithActive__item">
                            <div class="slideWithActive__icon">
                                <i class="fad fa-alarm-clock"></i>
                            </div>
                            <p class="slideWithActive__text">
                                Занятия длятся <strong>80 минут</strong>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-effect">
                        <div class="slideWithActive__item">
                            <div class="slideWithActive__icon">
                                <i class="fad fa-snowflakes"></i>
                            </div>
                            <p class="slideWithActive__text">
                                Заморозка баланса <strong>на любой срок</strong> 
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-effect">
                        <div class="slideWithActive__item">
                            <div class="slideWithActive__icon">
                                <i class="far fa-users-class"></i>
                            </div>
                            <p class="slideWithActive__text">
                                В группе в среднем <strong>6-8 студентов</strong> 
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-effect">
                        <div class="slideWithActive__item">
                            <div class="slideWithActive__icon">
                                <i class="fad fa-gift"></i>
                            </div>
                            <p class="slideWithActive__text">
                                По акции цены от <strong>9 990 KZT</strong> вместо 18 000 KZT
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-effect">
                        <div class="slideWithActive__item">
                            <div class="slideWithActive__icon">
                                <i class="fad fa-calendar-star"></i>
                            </div>
                            <p class="slideWithActive__text">
                                <strong>6 раз</strong> в неделю, 3 из них с носителем
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide swiper-slide-effect">
                        <div class="slideWithActive__item">
                            <div class="slideWithActive__icon">
                                <i class="fad fa-poll-people"></i>
                            </div>
                            <p class="slideWithActive__text">
                                Каждый день <strong>English Club</strong> 
                            </p>
                        </div>
                    </div>
                
                </div>
                
                    
                </div>
            </div>
        </div>
    </div>
    <div class="second-block section__programs">
        <div class="container">
            <div class="second__row">
                <h2 class="second__title main-title">Программы обучения</h2>
                <p class="second__paragraph">Методисты школы Study Link разработали больше десятка программ. Выбирайте тот, что подходит вам, и достигайте цели быстрее.</p>
                <div class="second__grid">
                    <div class="second__item orange-background _anim-items">
                        6-12 <br>
                        лет
                    </div>
                    <div class="second__item blue-background _anim-items">
                        13-17 <br>
                        лет
                    </div>
                    <div class="second__item blue-sky-background _anim-items">
                        17+ <br>
                        лет
                    </div>
                    <div></div>
                  
                </div>
                <img class="second__item-img" src="{% static 'img/icons/business-3d-answer.webp' %}" alt="">
            </div>
            <form action="{% url 'addLead' %}" method="post" class="form-education">
                {% csrf_token %}
                <h1 class="smile text-center">
                    &#128105;&#8205;&#128187;
                </h1>
                <h2 class="second__paragraph text-center">Оставляйте заявку и мы подберем вам программы обучения бесплатно</h2>
                <input name="numberPhone" placeholder="+7" type="text" id="input-edu" class="form-input">
                <input type="hidden" name="description" value="Заявка на консультацию по программам обучения">
                <button class="btn"><i class="fas fa-paper-plane"></i>  Получить бесплатно</button>
            </form>
        </div>
    </div>
    
    <div class="gallery-block section__gallery">
        <div class="container">
            <div class="main-title">Что мы делаем</div>
            <div class="gallery__grid">
                {% for block in blocks %}
                <a href="{{block.url_to}}" class="gallery__item _anim-items {{block.color}} {% if block.background %} gallery__item--after {% endif %}" {% if block.background %} style=" background: url({{block.background.url}}) center 100% no-repeat; background-size: cover;" {% endif %}>
                    <div class="gallery__item-content">
                        <div class="gallery__item-icon"><i class="{{block.icon}}"></i></div>
                        <h3 class="gallery__item-text">{{block.title}}</h3>
                    </div>
                </a>
                {% endfor %}
                
            </div>
        </div>
    </div>
   
    <div class="slide-block section__teacher">
        <div class="container">
            <div class="slide__personal-text main-title">Наши преподаватели</div>
            <!-- Slider main container -->
                <div class="swiper-container main-slide">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for teacher in teachers %}
                    <div class="swiper-slide">
                        <div class="slide__item ">
                            <img class="slide__img" src="{{teacher.img.url}}" alt="">
                            <div class="slide__text">
                                <h2 class="slide__title">{{teacher.name}}</h2>
                                <h3 class="slide__level"><span><i class="fas fa-briefcase"></i></span> Стаж: {{teahcer.experiense}}</h3>
                                <h3 class="slide__level"><span><i class="fas fa-graduation-cap"></i></span> Образования: {{teacher.education}}</h3>
                                <a class="slide__link" href="{{teacher.get_absolute_url}}">
                                    <h2><span><i class="fas fa-check-square"></i></span> ЗАПИСАТЬСЯ</h2>
                                </a>
                            </div>
                        </div> 
                    </div>
                    {% endfor %}
                   
                    </div>
                    <div class="swiper-pagination"></div>

                </div>   
                                                            
        </div> 
    </div>

   
    <div class="registration-block section__registration"style="background: url({% static 'img/icons/3d-stripy-financial-growth.webp' %})no-repeat right top; background-size: cover">
        <div class="container">
            <div class="registration__grid">
                <div class="registration__text">
                    <h2 class="registration__title main-title">
                        <span>Регистрация на </span><br>
                        <span>Бесплатный урок</span>    
                    </h2>
                </div>
                
                <div class="registration__form">
                    <form action="{% url 'addLead' %}" method="post" >
                        {% csrf_token %}
                        <input class='form-input form-style-2' type="text" value="+7" name="numberPhone" id="phone-mask">
                        <input class='form-input form-style-2' type="text" name="fullName" placeholder="Полное имя">
                        <input type="hidden" name="description" value="Регистрация на бесплатный урок(пробный)">
                        <button class="btn btn-purple">Получить пробный урок</button>
                    </form>
                </div>
               
            </div>
            
        </div>
    </div>        
    <div class="contacts-block section__contacts">
        <div class="container">
            <div class="contacts__row">
                <div class="contacts__text">
                    <p class="contacts__p">
                        <span><i class="fas fa-map"></i></span>
                        ул. Рыскулова 72/8(напротив ТЦ "СЕВЕР")
                    </p>
                    <h2 class="contacts__title">
                        Контакты и как <br>
                        <span>Нас найти</span> 
                    </h2>
                    <div class="contacts__grid">
                        <div class="contacts__item ">
                            <span ><i class="fas fa-users"></i></span>
                            Call-центр
                        </div>
                        <a href="tel:+7 775 888 35 36" class="contacts__item contacts__item--orange">
                            <span ><i class="fas fa-users"></i></span>
                            +7 775 888 35 36
                        </a>
                        <a href="tel:+7 747 333 35 36" class="contacts__item contacts__item--orange">
                            <span ><i class="fas fa-users"></i></span>
                            +7 747 333 35 36
                        </a>
                        <a href="tel:+7 776 333 35 36" class="contacts__item contacts__item--orange">
                            <span ><i class="fas fa-users"></i></span>
                            +7 776 333 35 36
                        </a>  
                    </div>
                </div>
                <!-- <div class="contacts__map">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A93e42ba4cbb14c78f5e20e0d2b569981c035bffd84d7d73dd969cd8ad18e6239&amp;source=constructor" class="map__con" frameborder="0"></iframe>
                </div> -->
            </div>
        </div>
       
    </div>
</main>
{% endblock %}