{% extends 'layouts/app.html' %}
{% load static %}
{% block 'content' %}

<div class="main">
    <div class="teacher">
        <div class="container">
            <div class="teacher__row">
                <div class="teacher__inf">
                    <div class="teacher__img">
                        <img src="{{teacher.img.url}}" alt="">
                    </div>
                    <h2 class="teacher__name teacher__title">{{teacher.name}}</h2>
                    <h3 class="teacher__experiense teacher__p"><span><i class="fas fa-briefcase"></i></span> {{teacher.experiense}}</h3>
                    <h3 class="teacher__eduaction teacher__p"><i class="fas fa-graduation-cap"></i></span> {{teacher.education}}</h3>
                    <p class="teacher__p"><i class="fas fa-user"></i></span>   {{teacher.description}}</p>
                </div>
                <div class="teacher__form">
                    <h2 class="teacher__request">Записаться на преподавателя</h2>
                    <div class="registration__form" style="margin-top: 20px;">
                        <form action="{% url 'addLead' %}" method="post" >
                            {% csrf_token %}
                            <input class='form-input form-style-2 form-style-3' type="text" value="+7" name="numberPhone" id="phone-mask">
                            <input class='form-input form-style-2 form-style-3' type="text" name="fullName" placeholder="Полное имя">
                            <input type="hidden" name="teacher" value="{{teacher.id}}">
                            <input type="hidden" name="teacherName" value="{{teacher.name}}">
                            <input type="hidden" name="description" value="Запись на учителя">
                            <button class="btn btn-purple">Записаться на учителя</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}