.swiper-container {
    width: 100%;
    display: block;
    
  }
  .slide-effects{
    padding: 5rem 0rem;
  }
  .swiper-pagination-bullet{
    width: 1.5rem;
    height: 1.5rem;
  }
  .swiper-pagination-bullet-active{
    background: #5F67EC;
  }

.main-slide{
  padding-bottom: 5rem;
}
