.footer{
    padding: 2rem;
}
.footer__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer__img{
    margin: 0 auto;
    display: block;
}
.footer__icons{
    display: block;
    margin: 0 auto;
    font-size: 3rem;
    color:#5F67EC;

    & a{
        text-decoration: none;
        color:inherit;
        
        &:hover{
            color:#5157d8;
        }
    }
}