.registration-block{
    background: #FF9156;
    padding: 8rem 0rem;
}
.registration__title{
    
    & span{
        color:white;
    }
}
.registration__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
    }
}
.registration__img{
    max-width: 60%;
    
    & img {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
}